In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('employee_promotion.csv')

In [15]:
df.head()

,employee_id,department,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score,is_promoted
0,65438,7,0,2,1,35,5.0,8,0,49.0,0
1,65141,4,1,0,1,30,5.0,4,0,60.0,0
2,7513,7,1,2,1,34,3.0,7,0,50.0,0
3,2542,7,1,0,2,39,1.0,10,0,50.0,0
4,48945,8,1,0,1,45,3.0,2,0,73.0,0

In [17]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
for i in df.columns:
    print(i)
    if df[i].dtype == 'object':
        df[i]=l.fit_transform(df[i])

employee_id
department
gender
recruitment_channel
no_of_trainings
age
previous_year_rating
length_of_service
awards_won
avg_training_score
is_promoted

In [18]:
df.columns

Index(['employee_id', 'department', 'gender', 'recruitment_channel',
       'no_of_trainings', 'age', 'previous_year_rating', 'length_of_service',
       'awards_won', 'avg_training_score', 'is_promoted'],
      dtype='object')

In [19]:
df = df.drop([ 'region', 'education'], axis=1)

KeyError: "['region', 'education'] not found in axis"

In [20]:
x = df.drop('is_promoted', axis=1)  
y = df['is_promoted']

In [21]:
x.head()

,employee_id,department,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won,avg_training_score
0,65438,7,0,2,1,35,5.0,8,0,49.0
1,65141,4,1,0,1,30,5.0,4,0,60.0
2,7513,7,1,2,1,34,3.0,7,0,50.0
3,2542,7,1,0,2,39,1.0,10,0,50.0
4,48945,8,1,0,1,45,3.0,2,0,73.0

In [22]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.30)

In [23]:
from sklearn.preprocessing import MinMaxScaler

mms = MinMaxScaler(feature_range=(0,1))
xtrain = mms.fit_transform(xtrain)
xtest = mms.fit_transform(xtest)

xtrain = pd.DataFrame(xtrain)
xtest = pd.DataFrame(xtest)

In [26]:
xtest.head()

          0      1    2    3    4      5     6        7    8         9
0  0.313543  0.000  1.0  0.0  0.0  0.475  0.25  0.06250  0.0  0.783333
1  0.697646  0.875  1.0  0.0  0.0  0.525  0.75  0.06250  0.0  0.183333
2  0.486403  1.000  1.0  0.0  0.0  0.475  0.25  0.09375  0.0  0.683333
3  0.175095  0.875  1.0  0.0  0.0  0.450  1.00  0.15625  0.0  0.916667
4  0.529960  0.875  1.0  1.0  0.0  0.425  0.75  0.12500  0.0  0.150000

In [27]:
num_rows = len(xtest)
print("Number of rows:", num_rows)

Number of rows: 16443

In [28]:
num_rows = len(xtrain)
print("Number of rows:", num_rows)

Number of rows: 38365